@font-face{font-family:'Silkscreen';font-style:normal;font-weight:400;font-display:swap;src:url('silkscreen-latin-400-normal.woff2') format('woff2')}
@font-face{font-family:'Pixelify Sans';font-style:normal;font-weight:400;font-display:swap;src:url('pixelify-sans-latin-400-normal.woff2') format('woff2')}
@font-face{font-family:'Pixelify Sans';font-style:normal;font-weight:600;font-display:swap;src:url('pixelify-sans-latin-600-normal.woff2') format('woff2')}
